@page
@model PlayWebApp.Pages.Department.ListModel
@{
    ViewData["Title"] = "List";
}
<div class="container">
    <form method="get">
<div class="form-group">
    <div class="input-group">
        <input type="search" asp-for="SearchValue"  class="form-control"/>
        <span class="input-group-btn">
            <button class="btn btn-group-lg btn-info" value="Search">
                
            </button>
        </span>
    </div>
    </div>
</form>
    
    @foreach (var dept in Model.departments)
    {
        <div class="row">
            <div class="col-3">@dept.DeptID</div>
            <div class="col-3">@dept.DeptName</div>
            <div class="col-3">@dept.DeptHead</div>
            <div class="col-3">@dept.DeptName</div>
        </div>
    }
</div>