@page
@model PlayWebApp.Pages.Department.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}
<h1>NotFound</h1>
<div class="container">
    <div class="row">
        <span class="text-danger">Content you are looking for in not found!</span>
    </div>
</div>
